section.people
    .container
        +blockBox('Happy clients', 'What people say')
        ul.people-list
            li.people-item
                img.people-avatar(src="https://images.unsplash.com/photo-1533227268428-f9ed0900fb3b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fG1hbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60")
                .people-info
                    h3.people-name Matthew Dix
                    span.people-job.text.text--light Graphic design
                    p.people-desc.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident vitae dignissimos eius repellat, ducimus facere sunt ratione molestiae sed nesciunt tenetur ullam officiis commodi facilis aspernatur nulla quos ad veniam?
            li.people-item
                img.people-avatar(src="https://images.unsplash.com/photo-1533227268428-f9ed0900fb3b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fG1hbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60")
                .people-info
                    h3.people-name Matthew Dix
                    span.people-job.text.text--light Graphic design
                    p.people-desc.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident vitae dignissimos eius repellat, ducimus facere sunt ratione molestiae sed nesciunt tenetur ullam officiis commodi facilis aspernatur nulla quos ad veniam?
            li.people-item
                img.people-avatar(src="https://images.unsplash.com/photo-1533227268428-f9ed0900fb3b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fG1hbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60")
                .people-info
                    h3.people-name Matthew Dix
                    span.people-job.text.text--light Graphic design
                    p.people-desc.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident vitae dignissimos eius repellat, ducimus facere sunt ratione molestiae sed nesciunt tenetur ullam officiis commodi facilis aspernatur nulla quos ad veniam?
            li.people-item
                img.people-avatar(src="https://images.unsplash.com/photo-1533227268428-f9ed0900fb3b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fG1hbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60")
                .people-info
                    h3.people-name Matthew Dix
                    span.people-job.text.text--light Graphic design
                    p.people-desc.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident vitae dignissimos eius repellat, ducimus facere sunt ratione molestiae sed nesciunt tenetur ullam officiis commodi facilis aspernatur nulla quos ad veniam?