section.quote
    .container
        .quote-container
            .quote-item
                .quote-icon
                    img(src='../images/img-quote.png')
                .quote-info
                    p.quote-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est reiciendis ducimus at rem delectus fuga repellat placeat veniam consequatur? Vel numquam, fugit debitis corrupti consequatur provident quos facere error non!
                    span.quote-author Jon Doe
            .quote-item
                .quote-icon
                    img(src='../images/img-quote.png')
                .quote-info
                    p.quote-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est reiciendis ducimus at rem delectus fuga repellat placeat veniam consequatur? Vel numquam, fugit debitis corrupti consequatur provident quos facere error non!
                    span.quote-author Jon Doe
            .quote-item
                .quote-icon
                    img(src='../images/img-quote.png')
                .quote-info
                    p.quote-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est reiciendis ducimus at rem delectus fuga repellat placeat veniam consequatur? Vel numquam, fugit debitis corrupti consequatur provident quos facere error non!
                    span.quote-author Jon Doe