section.service
    .container
        +blockBox('We work with', 'Amazing Service')
        .service-container
            .service-list
                .service-item
                    img.service-item-icon(src="../images/img-service-icon1.png")
                    .service-item-info
                        h3.service-item-title Photography
                        p.service-item-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint labore id aperiam! Aperiam, natus.
                .service-item
                    img.service-item-icon(src="../images/img-service-icon2.png")
                    .service-item-info
                        h3.service-item-title Web Design
                        p.service-item-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint labore id aperiam! Aperiam, natus.
                .service-item
                    img.service-item-icon(src="../images/img-service-icon3.png")
                    .service-item-info
                        h3.service-item-title Creativity
                        p.service-item-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint labore id aperiam! Aperiam, natus.
            .service-list
                .service-item
                    img.service-item-icon(src="../images/img-service-icon4.png")
                    .service-item-info
                        h3.service-item-title SEO
                        p.service-item-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint labore id aperiam! Aperiam, natus.
                .service-item
                    img.service-item-icon(src="../images/img-service-icon5.png")
                    .service-item-info
                        h3.service-item-title CSS/HTML
                        p.service-item-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint labore id aperiam! Aperiam, natus.
                .service-item
                    img.service-item-icon(src="../images/img-service-icon6.png")
                    .service-item-info
                        h3.service-item-title Degital
                        p.service-item-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint labore id aperiam! Aperiam, natus.