section.wedo
    .container
        +blockBox('Service', 'What we do', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur vero iusto delectus at perspiciatis maxime officiis deleniti quas mollitia ea corporis recusandae, nobis molestias corrupti officia ratione! Quaerat, voluptatum incidunt!')
        .wedo-container
            img(src="../images/img-wedo.png").wedo-image
            .wedo-content
                .wedo-item.is-active
                    .wedo-item-header
                        img(src="../images/img-wedo-icon1.png").wedo-item-icon
                        h3.wedo-item-title Photography
                        i.fa.fa-angle-up.wedo-item-arrow
                    .wedo-item-content
                        .wedo-item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nisi voluptatibus quia, provident recusandae nobis libero eaque omnis, numquam dolorem sequi natus ad repellendus pariatur fuga, consequuntur eligendi sed consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nisi voluptatibus quia, provident recusandae nobis libero eaque omnis, numquam dolorem sequi natus ad repellendus pariatur fuga, consequuntur eligendi sed consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nisi voluptatibus quia, provident recusandae nobis libero eaque omnis, numquam dolorem sequi natus ad repellendus pariatur fuga, consequuntur eligendi sed consectetur.
                .wedo-item
                    .wedo-item-header
                        img(src="../images/img-wedo-icon2.png").wedo-item-icon
                        h3.wedo-item-title Creativity
                        i.fa.fa-angle-down.wedo-item-arrow
                    .wedo-item-content
                        .wedo-item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nisi voluptatibus quia, provident recusandae nobis libero eaque omnis, numquam dolorem sequi natus ad repellendus pariatur fuga, consequuntur eligendi sed consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nisi voluptatibus quia, provident recusandae nobis libero eaque omnis, numquam dolorem sequi natus ad repellendus pariatur fuga, consequuntur eligendi sed consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nisi voluptatibus quia, provident recusandae nobis libero eaque omnis, numquam dolorem sequi natus ad repellendus pariatur fuga, consequuntur eligendi sed consectetur.
                .wedo-item
                    .wedo-item-header
                        img(src="../images/img-wedo-icon3.png").wedo-item-icon
                        h3.wedo-item-title Web design
                        i.fa.fa-angle-down.wedo-item-arrow
                    .wedo-item-content
                        .wedo-item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nisi voluptatibus quia, provident recusandae nobis libero eaque omnis, numquam dolorem sequi natus ad repellendus pariatur fuga, consequuntur eligendi sed consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nisi voluptatibus quia, provident recusandae nobis libero eaque omnis, numquam dolorem sequi natus ad repellendus pariatur fuga, consequuntur eligendi sed consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nisi voluptatibus quia, provident recusandae nobis libero eaque omnis, numquam dolorem sequi natus ad repellendus pariatur fuga, consequuntur eligendi sed consectetur.
