section.work
    .container
        +blockBox('What we do', 'Some of our work', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui saepe voluptas rem libero eius, reprehenderit nesciunt dolores cum quis quaerat deleniti sint eligendi accusamus ea explicabo ducimus nisi blanditiis vero?')
        .work-list
            .work-column
                .work-item
                    img.work-image(src='../images/img-work1.png')
                    .work-content
                        img.work-content__img(src='../images/img-work-icon.png')
                        h3.work-title Creatively designed
                        span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                .work-item
                    img.work-image(src='../images/img-work2.png')
                    .work-content
                        img.work-content__img(src='../images/img-work-icon.png')
                        h3.work-title Creatively designed
                        span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            .work-column
                .work-item
                    img.work-image(src='../images/img-work3.png')
                    .work-content
                        img.work-content__img(src='../images/img-work-icon.png')
                        h3.work-title Creatively designed
                        span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                .work-item
                    img.work-image(src='../images/img-work6.png')
                    .work-content
                        img.work-content__img(src='../images/img-work-icon.png')
                        h3.work-title Creatively designed
                        span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            .work-column
                .work-item.work-item--full
                    img.work-image(src='../images/img-work5.png')
                    .work-content
                        img.work-content__img(src='../images/img-work-icon.png')
                        h3.work-title Creatively designed
                        span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            .work-column
                .work-item
                    img.work-image(src='../images/img-work6.png')
                    .work-content
                        img.work-content__img(src='../images/img-work-icon.png')
                        h3.work-title Creatively designed
                        span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                .work-item
                    img.work-image(src='../images/img-work7.png')
                    .work-content
                        img.work-content__img(src='../images/img-work-icon.png')
                        h3.work-title Creatively designed
                        span.work-desc.text.text--light Lorem ipsum dolor sit amet consectetur, adipisicing elit.